@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

:root {
  --bg-body: #292a73;
  --bg-container: #1a1b4b; 
  --cor-content-bt: #f7a400;
  --bg-button: #3e4491;
  --font: #f7a400;
}

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  color: var(--font);
  background-color: var(--bg-body);
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  margin-top: 150px;
  background-color: var(--bg-container);
  border-radius: 10px;
  padding-bottom: 20px;
}

button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid var(--cor-content-bt);
  background-color: var(--bg-button);
  color: var(--cor-content-bt);
  font-size: 16pt;
  font-weight: 600;
  text-align: center;
}

#counter {
  display: flex;
}

#currentNumber {
  display: flex;
  align-items: center;
  margin: 0 29px;
  font-size: 16pt;
}